.idea/
*.iws
out/
.idea_modules/
*.gem
*.rbc
/.config
/coverage/
/pkg/
/tmp/
.byebug_history
.dat*
.repl_history
build/
*.bridgesupport
/doc/
/rdoc/
/.bundle/
/vendor/bundle
/lib/bundler/man/
.rvmrc
Gemfile.lock
*.iml
